{% load static %}
<html>
    <head>
        <title>Blog Wannaasbird</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <h1><a href="#"></a>Blog Wannaasbird</h1>
                <nav class="links">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
            </header>
            <div class="main">
                {% for post in posts %}
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="#">{{ post.title }}</a></h2>
                            <time>Published: {{ post.published_date }}</time>
                        </div>
                    </header>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
                {% endfor %}   
            </div>
        </div>
    </body>
</html>
