{% load static %}
<html>
    <head>
        <title>Blog Wannaasbird</title>
        <link rel="stylesheet" href="{% static '/css/blog.css' %}">
    </head>
        <body>
            <nav class="menu">
                <a href="#">Home</a>
                <a href="#">Blog</a>
                <a href="#">Portfolio</a>
                <a href="#">About</a>
            </nav>
            {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <small>Published: {{ post.published_date }}</small>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
        </body>
</html>
