{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>wannaasbird</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <h1><a href="/">Page Wannaasbird</a></h1>
                <nav class="links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
                {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}"><h1>Add post</h1></a>
                {% endif %}
            </header>
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
